@inherits LayoutComponentBase

@* 1. Ez az új fő tároló, ami mindent összefog *@
<div class="app-wrapper">

    @* 2. A felső sáv - Ez lesz a vízszintes szár a T betű tetején *@
    <header class="top-navbar">
        <div class="top-logo">
            <span class="material-symbols-outlined">volunteer_activism</span>
            <span>Charity App</span>
        </div>
    </header>

    @* 3. A page div most már csak a navbar ALATTI részt jelenti *@
    <div class="page">
        @* Bal oldali oszlop *@
        <aside class="sidenav-container">
            <SideNav />
        </aside>

        @* Jobb oldali oszlop *@
        <main class="main-content">
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>