@inherits LayoutComponentBase

<div class="page-wrapper">
    @* 1. FELSŐ LOGÓ SÁV *@
    <header class="top-bar">
        <div class="logo-section-top">
            <span class="material-symbols-outlined">volunteer_activism</span>
            <span>Charity App</span>
        </div>
    </header>

    <div class="content-wrapper">
        @* 2. OLDALSÁV *@
        <aside class="sidenav-container">
            <SideNav />
        </aside>

        @* 3. FŐ TARTALOM *@
        <main class="main-content">
            @Body
        </main>
    </div>
</div>
