.page-container {
    padding: 25px;
}

.table-container {
    width: 100%;
    margin-top: 15px;
}

/* Sötétített háttér a modal mögött */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Félátlátszó fekete */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* Kicsi, kerekített doboz */
.modal-content {
    background: white;
    border-radius: 12px;
    padding: 20px;
    min-width: 400px;
    border: none;
}