@page "/"

@* 1. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
<section id="home">
    <div class="container">
        <h2>Főoldal</h2>
        <p>Segítsünk együtt!</p>
    </div>
</section>

@* 2. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
<section id="rolunk">
    <div class="container">
        <h2>Rólunk</h2>
        <p>Segítsünk együtt!</p>
    </div>
</section>

@* 3. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
<section id="eredmenyek">
    <div class="container">
        <h2>Eredmények</h2>
        <p>Segítsünk együtt!</p>
    </div>
</section>

@* 4. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
<section id="gyik">
    <div class="container">
        <h2>Gyik</h2>
        <p>Segítsünk együtt!</p>
    </div>
</section>

@* 5. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
<section id="kapcsolat">
    <div class="container">
        <h2>Kapcsolat</h2>
        <p>Segítsünk együtt!</p>
    </div>
</section>