@page "/"
@using Application.DTOs
@using Application.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

@* 1. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
<body>
    <div class="container">

        <section id="contact">
            <div class="container">
                <h3>CharityNode - 2026</h3>
                <p>Segítsünk együtt!</p>
            </div>
        </section>

        @* 2. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
        <section id="contact">
            <div class="container">
                <h3>CharityNode - 2026</h3>
                <p>Segítsünk együtt!</p>
            </div>
        </section>

        @* 3. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
        <section id="contact">
            <div class="container">
                <h3>CharityNode - 2026</h3>
                <p>Segítsünk együtt!</p>
            </div>
        </section>

        @* 4. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
        <section id="contact">
            <div class="container">
                <h3>CharityNode - 2026</h3>
                <p>Segítsünk együtt!</p>
            </div>
        </section>

        @* 5. SZEKCIÓ: KAPCSOLAT / LÁBJEGYZÉK *@
        <section id="contact">
            <div class="container">
                <h3>CharityNode - 2026</h3>
                <p>Segítsünk együtt!</p>
            </div>
        </section>
    </div>
</body>