section {
    /* Képernyő magassága mínusz a felső sáv */
    height: calc(100vh - 60px);
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    border-bottom: 2px solid black;
}

#home {
    background-color: aquamarine;
}